<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.ico}">
    <title>Login</title>
    <!-- Custom CSS -->
    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
</head>

<body>
    <div class="main-wrapper">
        <!-- Preloader -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>

        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
            th:style="'background:url(' + @{/assets/images/big/fondo.png} + ') no-repeat center center;'">
            <div class="auth-box row">
                <div class="col-lg-7 col-md-5 modal-bg-img" 
                     th:style="'background-image: url(' + @{/assets/images/big/logoVertical1.png} + ');'">
                </div>
                <div class="col-lg-5 col-md-7 bg-white">
                    <div class="p-3">
                        <div class="text-center">
                            <img th:src="@{/assets/images/big/flogin.png}" alt="wrapkit">
                        </div>
                        <p class="text-center mt-3">Ingresa tu Usuario y Contraseña 
                        	para acceder al panel de administración.</p>

                        <!-- Mensaje de Error si las credenciales son incorrectas -->
                        <div th:if="${param.error}" class="alert alert-danger text-center p-2" role="alert">
                            Usuario o contraseña incorrectos.
                        </div>

                        <!-- FORMCORREGIDO: POST -> /usuario/login-post -->
                        <form th:action="@{/usuario/login}" method="post" class="mt-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group mb-3">
                                        <label class="form-label text-dark" for="username">Usuario</label>
                                        <!-- Atributo name="username" agregado -->
                                        <input class="form-control" id="username" name="username" type="text"
                                            placeholder="Ingresa tu Usuario" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group mb-3">
                                        <label class="form-label text-dark" for="password">Contraseña</label>
                                        <!-- Atributo name="password" agregado -->
                                        <input class="form-control" id="password" name="password" type="password"
                                            placeholder="Ingresa tu Contraseña" required>
                                    </div>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <button type="submit" class="btn w-100 btn-dark">Iniciar Sesión</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript Required -->
    <script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
    <script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
    
    <script>
        $(document).ready(function() {
            $(".preloader").fadeOut();
        });
    </script>
</body>

</html>