<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/plantillaAdmin/plantillaui">

<head>
<meta charset="utf-8">
<title>Lista Pedido</title>
</head>

<body>

	<!-- multi-column ordering -->
	<div layout:fragment="contenidopaguinas">
		<div class="d-flex justify-content-between align-items-center mb-3">
			<h4 class="card-title mb-0 fw-bold">LISTA DE PEDIDO</h4>
			<a th:href="@{/pedido/nuevoPedido}" class="btn btn-success"> <i
				class="fas fa-plus me-1"></i> Nuevo Pedido
			</a>
		</div>
		<div class="table-responsive">
			<table id="multi_col_order"
				class="table border table-striped table-bordered text-nowrap"
				style="width: 100%">
				<thead>
					<tr>
						<th>ID</th>
						<th>DIRECCIÓN DE PEDIDO</th>
						<th>CANAL DE VENTA</th>
						<th>PLACA VEHÍCULO</th>
						<th>FECHA PEDIDO</th>
						<th>ESTADO</th>
						<th>ACCIONES</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="indice : ${listaPedido}">
						<td th:text="${indice.idPedido}"></td>
						<td th:text="${indice.direccionPedido}"></td>
						<td th:text="${indice.fkVenta.canalVenta}"></td>						
						<td th:text="${indice.fkVehiculo.placa}"></td>
						<td th:text="${indice.fechaPedido}"></td>
						<td th:text="${indice.estadoPedido}"></td>
						<td>
							<a th:href="@{/pedido/editar/{idPedido}(idPedido=${indice.idPedido})}"
							class="btn btn-primary" title="Editar"> <i class="far fa-edit"></i></a> 
							<a th:href="@{/pedido/eliminar/{idPedido}(idPedido=${indice.idPedido})}" 
							class="btn btn-danger" title="Eliminar" 
							onclick="return confirm('¿Seguro que deseas eliminar este Pedido');">
							<i class="far fa-trash-alt"></i></a>
						</td>
					</tr>


				</tbody>
			</table>
		</div>
	</div>
</body>

</html>