
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="50x50"
	href="../assets/images/favicon.ico">
<title>Inicio</title>
<!-- This page plugin CSS -->
<!-- <link href="../assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet"> -->
<link rel="stylesheet"
	href="../assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css">
<link rel="stylesheet"
	href="../assets/extra-libs/datatables.net-bs4/css/responsive.dataTables.min.css">
<!-- Custom CSS -->
<link href="../dist/css/style.min.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
	<!-- ============================================================== -->
	<!-- Preloader - style you can find in spinners.css -->
	<!-- ============================================================== -->
	<div class="preloader">
		<div class="lds-ripple">
			<div class="lds-pos"></div>
			<div class="lds-pos"></div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- Main wrapper - style you can find in pages.scss -->
	<!-- ============================================================== -->
	<div id="main-wrapper" data-theme="light" data-layout="vertical"
		data-navbarbg="skin6" data-sidebartype="full"
		data-sidebar-position="fixed" data-header-position="fixed"
		data-boxed-layout="full">
		<!-- ============================================================== -->
		<!-- Topbar header - style you can find in pages.scss -->
		<!-- ============================================================== -->
		<header class="topbar" data-navbarbg="skin6">
			<nav class="navbar top-navbar navbar-expand-lg">
				<div class="navbar-header" data-logobg="skin6">
					<!-- This is for the sidebar toggle which is visible on mobile only -->
					<a class="nav-toggler waves-effect waves-light d-block d-lg-none"
						href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
					<!-- ============================================================== -->
					<!-- Logo -->
					<!-- ============================================================== -->
					<div class="navbar-brand">
						<!-- Logo icon -->
						<a href="index.html"> <img
							src="../assets/images/logoHorizontal1.png" alt="" class="img-fluid">
						</a>
					</div>
					<!-- ============================================================== -->
					<!-- End Logo -->
					<!-- ============================================================== -->
					<!-- ============================================================== -->
					<!-- Toggle which is visible on mobile only -->
					<!-- ============================================================== -->
					<a class="topbartoggler d-block d-lg-none waves-effect waves-light"
						href="javascript:void(0)" data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation"><i class="ti-more"></i></a>
				</div>
				<!-- ============================================================== -->
				<!-- End Logo -->
				<!-- ============================================================== -->
				<div class="navbar-collapse collapse" id="navbarSupportedContent">
					<!-- ============================================================== -->
					<!-- toggle and nav items -->
					<!-- ============================================================== -->
					<ul class="navbar-nav float-left me-auto ms-3 ps-1">
						<!-- ESPACIO -->
						<li class="nav-item dropdown">
					</ul>
					<!-- ============================================================== -->
					<!-- Right side toggle and nav items -->
					<!-- ============================================================== -->
					<ul class="navbar-nav float-end">
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="javascript:void(0)"
							data-bs-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> <img
								src="../assets/images/users/profile-pic.jpg" alt="user"
								class="rounded-circle" width="40"> <span
								class="ms-2 d-none d-lg-inline-block"><span>Hola,</span>
									<span class="text-dark">Carlos Raul</span> <i
									data-feather="chevron-down" class="svg-icon"></i></span>
						</a>
							<div
								class="dropdown-menu dropdown-menu-end dropdown-menu-right user-dd animated flipInY">
								<a class="dropdown-item" href="javascript:void(0)"><i
									data-feather="user" class="svg-icon me-2 ms-1"></i> Mi Perfil</a> <a
									class="dropdown-item" href="javascript:void(0)"><i
									data-feather="mail" class="svg-icon me-2 ms-1"></i> Inbox</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="javascript:void(0)"><i
									data-feather="settings" class="svg-icon me-2 ms-1"></i> Account
									Setting</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="javascript:void(0)"><i
									data-feather="power" class="svg-icon me-2 ms-1"></i> Cerrar
									Sesión</a>
								<div class="dropdown-divider"></div>

							</div></li>
						<!-- ============================================================== -->
						<!-- User profile and search -->
						<!-- ============================================================== -->
					</ul>
				</div>
			</nav>
		</header>
		<!-- ============================================================== -->
		<!-- End Topbar header -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Left Sidebar - style you can find in sidebar.scss  -->
		<!-- ============================================================== -->
		<aside class="left-sidebar" data-sidebarbg="skin6">
			<!-- Sidebar scroll-->
			<div class="scroll-sidebar" data-sidebarbg="skin6">
				<!-- Sidebar navigation-->
				<nav class="sidebar-nav">
					<ul id="sidebarnav">
						<li class="sidebar-item"><a class="sidebar-link sidebar-link"
							href="index.html" aria-expanded="false"><i
								data-feather="home" class="feather-icon"></i><span
								class="hide-menu">Inicio</span></a></li>
						<li class="list-divider"></li>
						<li class="nav-small-cap"><span class="hide-menu">Applications</span></li>
						<li class="list-divider"></li>
						<li class="nav-small-cap"><span class="hide-menu">Menú</span></li>
						<li class="sidebar-item"><a class="sidebar-link has-arrow"
							href="javascript:void(0)" aria-expanded="false"><i
								data-feather="file-text" class="feather-icon"></i><span
								class="hide-menu">Clientes</span></a>
							<ul aria-expanded="false"
								class="collapse  first-level base-level-line">
								<li class="sidebar-item"><a th:href="@{/cliente}"
									class="sidebar-link"><span class="hide-menu"> Lista
											Clientes </span></a></li>
								<li class="sidebar-item"><a th:href="@{/cliente/nuevoCliente}"
									class="sidebar-link"><span class="hide-menu"> Nuevo
											Clientes</span></a></li>
								<li class="sidebar-item"><a th:href="@{/tipoCliente}"
									class="sidebar-link"><span class="hide-menu"> Lista
											Tipo Clientes </span></a></li>
								<li class="sidebar-item"><a th:href="@{/tipoCliente/nuevoTipoCliente}"
									class="sidebar-link"><span class="hide-menu"> Nuevo
											Tipo Clientes</span></a></li>
							</ul></li>
						<li class="sidebar-item"><a class="sidebar-link has-arrow"
							href="javascript:void(0)" aria-expanded="false"><i
								data-feather="file-text" class="feather-icon"></i><span
								class="hide-menu">Farmacia</span></a>
							<ul aria-expanded="false"
								class="collapse  first-level base-level-line">
								<li class="sidebar-item"><a th:href="@{/farmacia}"
									class="sidebar-link"><span class="hide-menu"> Lista
											Farmacia </span></a></li>
								<li class="sidebar-item"><a th:href="@{/farmacia/nuevoFarmacia}"
									class="sidebar-link"><span class="hide-menu"> Nuevo
											Farmacia</span></a></li>
								<li class="sidebar-item"><a th:href="@{/laboratorio}"
									class="sidebar-link"><span class="hide-menu"> Lista
											Laboratorio</span></a></li>
								<li class="sidebar-item"><a th:href="@{/laboratorio/nuevoLaboratorio}"
									class="sidebar-link"><span class="hide-menu"> Nuevo
											Laboratorio</span></a></li>
							</ul></li>
						<li class="sidebar-item"><a class="sidebar-link has-arrow"
							href="javascript:void(0)" aria-expanded="false"><i
								data-feather="file-text" class="feather-icon"></i><span
								class="hide-menu">Inventario</span></a>
							<ul aria-expanded="false"
								class="collapse  first-level base-level-line">
								<li class="sidebar-item"><a th:href="@{/inventario}"
									class="sidebar-link"><span class="hide-menu"> Lista
											Inventario </span></a></li>
								<li class="sidebar-item"><a th:href="@{/inventario/nuevoInventario}"
									class="sidebar-link"><span class="hide-menu"> Nuevo
											Inventario</span></a></li>
								<li class="sidebar-item"><a th:href="@{/lote}"
									class="sidebar-link"><span class="hide-menu"> Lista
											Lote</span></a></li>
								<li class="sidebar-item"><a th:href="@{/lote/nuevoLote}"
									class="sidebar-link"><span class="hide-menu"> Nuevo
											Lote</span></a></li>
							</ul></li>
						<li class="sidebar-item"><a class="sidebar-link has-arrow"
							href="javascript:void(0)" aria-expanded="false"><i
								data-feather="grid" class="feather-icon"></i><span
								class="hide-menu">Pedido</span></a>
							<ul aria-expanded="false"
								class="collapse  first-level base-level-line">
								<li class="sidebar-item"><a th:href="@{/pedido}"
									class="sidebar-link"><span class="hide-menu">Lista
											Pedido</span></a></li>
								<li class="sidebar-item"><a th:href="@{/pedido/nuevoPedido}"
									class="sidebar-link"><span class="hide-menu"> Nuevo
											Pedido </span></a></li>
							</ul></li>
						<li class="sidebar-item"><a class="sidebar-link has-arrow"
							href="javascript:void(0)" aria-expanded="false"><i
								data-feather="bar-chart" class="feather-icon"></i><span
								class="hide-menu">Producto </span></a>
							<ul aria-expanded="false"
								class="collapse  first-level base-level-line">
								<li class="sidebar-item"><a th:href="@{/producto}"
									class="sidebar-link"><span class="hide-menu"> Lista
											Producto </span></a></li>
								<li class="sidebar-item"><a th:href="@{/producto/nuevoProducto}"
									class="sidebar-link"><span class="hide-menu"> Nuevo
											Producto </span></a></li>
								<li class="sidebar-item"><a th:href="@{/categoria}"
									class="sidebar-link"><span class="hide-menu"> Lista
											Categoría </span></a></li>
								<li class="sidebar-item"><a th:href="@{/categoria/nuevoCategoria}"
									class="sidebar-link"><span class="hide-menu"> Nueva
											Categoría </span></a></li>
							</ul></li>
						<li class="sidebar-item"><a class="sidebar-link has-arrow"
							href="javascript:void(0)" aria-expanded="false"><i
								data-feather="bar-chart" class="feather-icon"></i><span
								class="hide-menu">Usuario </span></a>
							<ul aria-expanded="false"
								class="collapse  first-level base-level-line">
								<li class="sidebar-item"><a th:href="@{/usuario}"
									class="sidebar-link"><span class="hide-menu"> Lista
											Usuario </span></a></li>
								<li class="sidebar-item"><a th:href="@{/usuario/nuevoUsuario}"
									class="sidebar-link"><span class="hide-menu"> Nuevo
											Usuario </span></a></li>
							</ul></li>
						<li class="sidebar-item"><a class="sidebar-link has-arrow"
							href="javascript:void(0)" aria-expanded="false"><i
								data-feather="bar-chart" class="feather-icon"></i><span
								class="hide-menu">Vehículo </span></a>
							<ul aria-expanded="false"
								class="collapse  first-level base-level-line">
								<li class="sidebar-item"><a th:href="@{/vehiculo}"
									class="sidebar-link"><span class="hide-menu"> Lista
											Vehículo </span></a></li>
								<li class="sidebar-item"><a th:href="@{/vehiculo/nuevoVehiculo}"
									class="sidebar-link"><span class="hide-menu"> Nuevo
											Vehículo </span></a></li>
							</ul></li>
						<li class="sidebar-item"><a class="sidebar-link has-arrow"
							href="javascript:void(0)" aria-expanded="false"><i
								data-feather="box" class="feather-icon"></i><span
								class="hide-menu">Ventas </span></a>
							<ul aria-expanded="false"
								class="collapse  first-level base-level-line">
								<li class="sidebar-item"><a th:href="@{/venta}"
									class="sidebar-link"><span class="hide-menu"> Lista
											Ventas </span></a></li>
								<li class="sidebar-item"><a  th:href="@{/venta/nuevoVenta}"
									class="sidebar-link"><span class="hide-menu"> Nueva
											Ventas </span></a></li>
								<li class="sidebar-item"><a th:href="@{/detalleVenta}"
									class="sidebar-link"><span class="hide-menu"> Lista
											Detalle Ventas </span></a></li>
								<li class="sidebar-item"><a  th:href="@{/detalleVenta/nuevoDetalleVenta}"
									class="sidebar-link"><span class="hide-menu"> Nueva
											Detalle Ventas </span></a></li>
							</ul></li>
						<li class="list-divider"></li>
						<li class="nav-small-cap"><span class="hide-menu">Autentificación
						</span></li>

						<li class="sidebar-item"><a class="sidebar-link sidebar-link"
							href="authentication-login1.html" aria-expanded="false"><i
								data-feather="lock" class="feather-icon"></i><span
								class="hide-menu">Login </span></a></li>
						<li class="sidebar-item"><a class="sidebar-link sidebar-link"
							href="authentication-register1.html" aria-expanded="false"><i
								data-feather="lock" class="feather-icon"></i><span
								class="hide-menu">Register </span></a></li>

						<li class="list-divider"></li>
						<li class="nav-small-cap"><span class="hide-menu">Extra</span></li>

						<li class="sidebar-item"><a class="sidebar-link sidebar-link"
							href="authentication-login1.html" aria-expanded="false"><i
								data-feather="log-out" class="feather-icon"></i><span
								class="hide-menu">Logout</span></a></li>
					</ul>
				</nav>
				<!-- End Sidebar navigation -->
			</div>
			<!-- End Sidebar scroll-->
		</aside>
		<!-- ============================================================== -->
		<!-- End Left Sidebar - style you can find in sidebar.scss  -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Page wrapper  -->
		<!-- ============================================================== -->
		<div class="page-wrapper">
			<!-- ============================================================== -->
			<!-- Bread crumb and right sidebar toggle -->
			<!-- ============================================================== -->
			<!-- multi-column ordering -->
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div layout:fragment="contenidopaguinas"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- End PAge Content -->
			<!-- ============================================================== -->
		</div>
		<!-- ============================================================== -->
		<!-- End Container fluid  -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- footer -->
		<!-- ============================================================== -->
		<footer class="footer text-center text-muted">
			Todos los derechos reservados por CRMSystem. Designed and Developed
			by <a href="https://adminmart.com/">Adminmart</a>.
		</footer>
		<!-- ============================================================== -->
		<!-- End footer -->
		<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Page wrapper  -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap tether Core JavaScript -->
	<script src="../assets/libs/popper.js/dist/umd/popper.min.js"></script>
	<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<!-- apps -->
	<!-- apps -->
	<script src="../dist/js/app-style-switcher.js"></script>
	<script src="../dist/js/feather.min.js"></script>
	<!-- slimscrollbar scrollbar JavaScript -->
	<script
		src="../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
	<script src="../assets/extra-libs/sparkline/sparkline.js"></script>
	<!--Wave Effects -->
	<!-- themejs -->
	<!--Menu sidebar -->
	<script src="../dist/js/sidebarmenu.js"></script>
	<!--Custom JavaScript -->
	<script src="../dist/js/custom.min.js"></script>
	<!--This page plugins -->
	<script
		src="../assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
	<script
		src="../assets/extra-libs/datatables.net-bs4/js/dataTables.responsive.min.js"></script>
	<script src="../dist/js/pages/datatable/datatable-basic.init.js"></script>
</body>

</html>