<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/plantillaAdmin/plantillaui">

<head>
<meta charset="utf-8">
<title>Lista Cliente</title>
</head>

<body>

	<!-- multi-column ordering -->
	<div layout:fragment="contenidopaguinas">
		<h4 class="card-title">LISTA DE CLIENTES</h4>
		<div class="table-responsive">
			<table id="multi_col_order"
				class="table border table-striped table-bordered text-nowrap"
				style="width: 100%">
				<thead>
					<tr>
						<th>ID</th>
						<th>NOMBRE</th>
						<th>APELLIDO</th>
						<th>CÉDULA</th>
						<th>TELÉFONO</th>
						<th>DIRECCIÓN</th>
						<th>CORREO</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>Tiger</td>
						<td>Nixon</td>
						<td>System Architect</td>
						<td>Edinburgh</td>
						<td>$320,800</td>
						<td>Edinburgh</td>
						<td>$320,800</td>
					</tr>
					<tr>
						<td>Garrett</td>
						<td>Winters</td>
						<td>Accountant</td>
						<td>Tokyo</td>
						<td>$170,750</td>
						<td>Edinburgh</td>
						<td>$320,800</td>
					</tr>
					<tr>
						<td>Ashton</td>
						<td>Cox</td>
						<td>Junior Technical Author</td>
						<td>San Francisco</td>
						<td>$86,000</td>
						<td>Edinburgh</td>
						<td>$320,800</td>
					</tr>
					<tr>
						<td>Cedric</td>
						<td>Kelly</td>
						<td>Senior Javascript Developer</td>
						<td>Edinburgh</td>
						<td>$433,060</td>
						<td>Edinburgh</td>
						<td>$320,800</td>
					</tr>
					<tr>
						<td>Airi</td>
						<td>Satou</td>
						<td>Accountant</td>
						<td>Tokyo</td>
						<td>$162,700</td>
						<td>Edinburgh</td>
						<td>$320,800</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>