<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/plantillaAdmin/plantillaui">

<head>
<meta charset="utf-8">
<title>Lista Categoria</title>
</head>

<body>

	<!-- multi-column ordering -->
	<div layout:fragment="contenidopaguinas">
		<div class="d-flex justify-content-between align-items-center mb-3">
			<h4 class="card-title mb-0 fw-bold">LISTA DE CATEGORÍA</h4>
			<a th:href="@{/categoria/nuevoCategoria}" class="btn btn-success"> <i
				class="fas fa-plus me-1"></i> Nueva Categoría
			</a>
		</div>
		<div class="table-responsive">
			<table id="multi_col_order"
				class="table border table-striped table-bordered text-nowrap"
				style="width: 100%">
				<thead>
					<tr>
						<th>ID</th>
						<th>NOMBRE CATEGORÍA</th>
						<th>ACCIONES</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="indice : ${listaCategoria}">
						<td th:text="${indice.idCategoria}"></td>
						<td th:text="${indice.nombreCategoria}"></td>
						<td>
							<a th:href="@{/categoria/editar/{idCategoria}(idCategoria=${indice.idCategoria})}"
							class="btn btn-primary" title="Editar"> <i class="far fa-edit"></i></a> 
							<a th:href="@{/categoria/eliminar/{idCategoria}(idCategoria=${indice.idCategoria})}" 
							class="btn btn-danger" title="Eliminar" 
							onclick="return confirm('¿Seguro que deseas eliminar esta Categoría');">
							<i class="far fa-trash-alt"></i></a>
						</td>
					</tr>


				</tbody>
			</table>
		</div>
	</div>
</body>

</html>