<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/plantillaAdmin/plantillaui">

<head>
<meta charset="utf-8">
<title>Nuevo Producto</title>
</head>

<body>

	<!-- multi-column ordering -->
	<div layout:fragment="contenidopaguinas">
		<h4 class="card-title">NUEVO PRODUCTO</h4>
		<form th:action="@{/producto/guardar}" th:object="${producto}" method="post">
			<div class="mb-3">
				<input type="hidden" th:field="*{idProducto}" value="0" />
			</div>
			<div class="mb-3">
				<label for="nombre" class="form-label">NOMBRE PRODUCTO</label> 
				<input type="text" class="form-control" id="nombre" th:field="*{nombreProducto}">
			</div>
			<div class="mb-3">
				<label for="descripcion" class="form-label">DESCRIPCIÓN</label> 
				<input	type="text" class="form-control" id="descripcion" th:field="*{descripcion}">
			</div>
			<button type="submit" class="btn btn-primary">GUARDAR</button>
		</form>

	</div>
</body>

</html>