<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/plantillaAdmin/plantillaui">

<head>
<meta charset="utf-8">
<title>Farmacia Salud Vida</title>
</head>

<body>

	<!-- multi-column ordering -->
	<div layout:fragment="contenidopaguinas">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-body text-center">
						<h2 class="mb-1">BIENVENIDOS AL SISTEMA</h2>
						<h2 class="mb-1">FARMACIA SALUD VIDA</h2>
						<p class="mt-2 mb-0">
							<span class="text-dark">Hola, </span> <strong
								sec:authentication="name">Usuario</strong>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>