<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/plantillaAdmin/plantillaui">

<head>
<meta charset="utf-8">
<title>Inicio</title>
</head>

<body>

	<!-- multi-column ordering -->
	<div layout:fragment="contenidopaguinas">
		<div style="text-align: center;">
			<div class="table-responsive">
				<img th:src="@{/assets/images/inicio.png}" alt=""
					class="img"
					style="width: 1200px; height: 500px; vertical-align: middle;">
			</div>
		</div>
	</div>
</body>

</html>