<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/plantillaAdmin/plantillaui">

<head>
<meta charset="utf-8">
<title>Lista Lote</title>
</head>

<body>

	<!-- multi-column ordering -->
	<div layout:fragment="contenidopaguinas">
		<h4 class="card-title">LISTA DE LOTE</h4>
		<div class="table-responsive">
			<table id="multi_col_order"
				class="table border table-striped table-bordered text-nowrap"
				style="width: 100%">
				<thead>
					<tr>
						<th>ID</th>
						<th>NOMBRE</th>
						<th>NÚMERO DE LOTE</th>					
						<th>FECHA DE INGRESO</th>
						<th>FECHA DE CADUCIDAD</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="indice : ${listaLote}">
						<td th:text="${indice.idLote}"></td>
						<td th:text="${indice.numeroLote}"></td>
						<td th:text="${indice.fechaIngreso}"></td>
						<td th:text="${indice.fechaCaducidad}"></td>
						<td>
							<a href="" class="btn btn-primary" title="Editar">
							<i class="far fa-edit"></i></a> 
							<a href="" class="btn btn-danger" title="Eliminar">
							<i class="far fa-trash-alt"></i></a>
						</td>
					</tr>


				</tbody>
			</table>
		</div>
	</div>
</body>

</html>